@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --background-black :  #363635;
  --logo-color:#964a03;
  --button-color:#776856;
  --hover-button-color:#695a46;
  --background-light-gray:#222222;
}

html, body{
  color: white;
  overflow-x: hidden;
  scroll-behavior: smooth;
}